---
export const partial = true;

import ModalLayout from '@components/app/modals/ModalLayout.astro';
import ButtonSubmit from '@components/app/modals/ButtonSubmit.astro';
import ButtonCancel from '@components/app/modals/ButtonCancel.astro';
import InputField from '@components/app/modals/InputField.astro';

const { project_id } = Astro.params;
---

<ModalLayout title="New task">
  <form class="space-y-6" hx-post={`/app/api/project/${project_id}/task`}>
    <div>
      <div class="mt-1">
        <InputField name="task_text" />
      </div>
    </div>
    <div class="flex justify-center">
      <ButtonSubmit />
      <ButtonCancel />
    </div>
  </form>
</ModalLayout>
