---
const { label = 'Add' } = Astro.props;
---

<button
  type="submit"
  class="inline-flex justify-center px-4 py-2 font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 w-auto text-sm"
>
  {label}
</button>
