<button
  aria-label="Close dialog"
  type="button"
  class="inline-flex justify-center px-4 py-2 ml-3 font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-0 w-auto text-sm"
  onclick="document.querySelector('dialog')?.close()"
>
  Cancel
</button>
