<nav class="flex justify-between p-6 text-sm font-semibold">
  <a href="/" class="flex-1">
    <img src="/logo.svg" alt="Logo" class="h-5 invert dark:invert-0" />
  </a>

  <div class="hidden md:flex gap-x-12">
    <a href="/#features">Features</a>
    <a href="/#pricing">Pricing</a>
    <a href="/blog">Blog</a>
  </div>

  <div class="flex-1 text-right">
    <a href="/login">Log in &rarr;</a>
  </div>
</nav>
