---
export const partial = true;
import ModalLayout from '@components/app/modals/ModalLayout.astro';
import ButtonSubmit from '@components/app/modals/ButtonSubmit.astro';
import ButtonCancel from '@components/app/modals/ButtonCancel.astro';
import InputField from '@components/app/modals/InputField.astro';
---

<ModalLayout title="New project">
  <form class="space-y-6" hx-post="/app/api/projects">
    <div>
      <div class="mt-1">
        <InputField name="project_name" />
      </div>
    </div>
    <div class="flex justify-center">
      <ButtonSubmit />
      <ButtonCancel />
    </div>
  </form>
</ModalLayout>
