---
const Questions = [
  {
    question: 'Is the personal account really free?',
    answer:
      " Yes! We don’t require a credit card to sign up, it's completely free.",
  },
  {
    question: 'Can I use SECRETPLAN for my company?',
    answer: 'Absolutely! SECRETPLAN is perfect for companies of all sizes.',
  },
];
---

<div class="max-w-2xl px-6 mx-auto mt-20 text-center lg:max-w-7xl lg:px-8">
  <p class="mt-2 text-4xl font-bold tracking-tight sm:text-5xl">
    Frequently asked questions
  </p>

  <div class="mt-10 space-y-8">
    {
      Questions.map((question) => (
        <div>
          <h2 class="text-lg font-bold">{question.question}</h2>
          <p class="mt-3">{question.answer}</p>
        </div>
      ))
    }
  </div>
</div>
