<div class="mt-16 sm:mt-24 text-center">
  <div
    class="p-4 rounded-xl bg-gray-100 ring-1 ring-gray-200 lg:rounded-2xl flex flex-col items-center justify-center h-full"
    style="height: auto"
  >
    <img src="/screenshot.png" alt="App screenshot" class="rounded-md" />
  </div>
</div>
