<div class="max-w-2xl mx-auto mt-32 sm:mt-56 sm:px-6 lg:px-8">
  <div class="text-center lg:mx-0">
    <blockquote class="mt-6 text-3xl italic font-semibold md:text-6xl">
      “This tool saves me so much time every day.”
    </blockquote>
    <div class="mt-6 text-base">
      <p class="font-semibold">Bobby, CEO of SECRETPLAN</p>
    </div>
  </div>
</div>
