---
import LayoutSite from '@layouts/LayoutSite.astro';
import Hero from '@components/site/homepage/Hero.astro';
import Screenshot from '@components/site/homepage/Screenshot.astro';
import Features from '@components/site/homepage/Features.astro';
import Testimonial from '@components/site/homepage/Testimonial.astro';
import Pricing from '@components/site/homepage/Pricing.astro';
import FAQ from '@components/site/homepage/FAQ.astro';
---

<LayoutSite>
  <Hero />
  <Screenshot />
  <Features />
  <Testimonial />
  <Pricing />
  <FAQ />
</LayoutSite>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Secretplan</title>
  </head>
  <body> </body>
</html>
