---
import TopBar from '@components/site/common/TopBar.astro';
import Footer from '@components/site/common/Footer.astro';
import '@src/site.css';
const { title = 'Secretplan' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
  </head>
  <body class="dark:bg-black dark:text-white">
    <div class="max-w-5xl px-4 py-4 mx-auto">
      <TopBar />
      <slot />
      <Footer />
    </div>
  </body>
</html>
